      <footer>
        <div class="container">
          <div class="footer-section">
            <div class="socials">
              <a href="#" class="footer-social"
                ><i class="fa-brands fa-twitter"></i></a
              ><a href="#" class="footer-social"
                ><i class="fa-brands fa-linkedin-in"></i></a
              ><a href="#" class="footer-social"
                ><i class="fa-solid fa-link"></i
              ></a>
            </div>
            <div class="copyrights">
              <i class="fa-solid fa-copyright"></i>
              <p>2022 by olowostanlab. Proudly created with ❤️</p>
            </div>
          </div>
        </div>
      </footer>
    </div>

    <!-- functionality script -->
    <script src="./js/index.js"></script>
    <script src="./js/base.js"></script>
  </body>
</html>
