<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/x-icon" href="" />
    <!-- Dont forget to come back to change the favicon -->
    <link rel="stylesheet" href="./css/styles.css" />
    <link rel="stylesheet" href="./css/base.css" />

    <!-- Font-awesome -->
    <script
      src="https://kit.fontawesome.com/6d7cc2a6c6.js"
      crossorigin="anonymous"
    ></script>

    <!-- jQuery script tag -->
    <script
      src="https://code.jquery.com/jquery-3.6.0.js"
      integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk="
      crossorigin="anonymous"
    ></script>

    <title>Olowostan Lab</title>
  </head>
  <body>
    <div class="root">
      <header class="header-section">
        <div class="header-container">
          <div class="top-header">
            <a href="mailto:olowostanlab@eng.futa.edu"
              >olowostanlab@eng.futa.edu</a
            >
            <hr />
          </div>

          <div class="bottom-header">
            <div class="logo">Olowostan Lab</div>

            <div class="navbar" id="nav">
              <ul class="nav-links">
                <a href="./index.html" class="nav-link">Home</a
                ><a href="./projects.html" class="nav-link">Projects</a
                ><a href="./Research.html" class="nav-link">Research</a
                ><a href="./teaching.html" class="nav-link">Teaching</a
                ><a href="./opportunities.html" class="nav-link"
                  >Opportunities</a
                ><a href="./lab_members.html" class="nav-link">Lab Members</a>

                <div class="socials-navbar">
                  <a href="#" class="nav-link s-link"
                    ><i class="fa-brands fa-twitter"></i></a
                  ><a href="#" class="nav-link s-link"
                    ><i class="fa-brands fa-linkedin-in"></i></a
                  ><a href="#" class="nav-link s-link"
                    ><i class="fa-solid fa-link"></i
                  ></a>
                </div>
                <a class="navbar-mail" href="mailto:olowostanlab@eng.futa.edu"
                  >olowostanlab@eng.futa.edu</a
                >
              </ul>
            </div>
            <div id="myNav" class="overlay">
              <a href="javascript:void(0)" class="closebtn" onclick="closeNav()"
                >&times;</a
              >
              <div class="overlay-content">
                <a href="#">Home</a>
                <a href="#">Projects</a>
                <a href="#">Research</a>
                <a href="#">Teaching</a>
                <a href="#">Opportunities</a>
                <a href="#">Lab Members</a>
                <a href="#">Services</a>
                <a href="#">News</a>
                <div class="social">
                  <a href="#" class="nav-link s-link"
                    ><i class="fa-brands fa-twitter"></i></a
                  ><a href="#" class="nav-link s-link"
                    ><i class="fa-brands fa-linkedin-in"></i></a
                  ><a href="#" class="nav-link s-link"
                    ><i class="fa-solid fa-link"></i
                  ></a>
                </div>
                <div class="contact">
                  <a class="navbar-mail" href="mailto:olowostanlab@eng.futa.edu"
                    >olowostanlab@eng.futa.edu</a
                  >
                </div>
              </div>
            </div>

            <span
              class="btn-menu"
              style="font-size: 30px; cursor: pointer"
              onclick="openNav()"
              >&#9776;</span
            >
          </div>
        </div>
      </header>
    </div>
  </body>
</html>
