<%- include("partials/header"); -%>

<main>
  <div class="container">
    <div class="main-section">
      <img class="main-img-1" src="./img/img-forest.webp" alt="" />
      <div class="overview">
        <div class="intro-text">
          <h3 class="sub-heading">overview of my Research</h3>

          <img src="./img/profile-img.png" class="profile-img-phone" alt="" />
          <p class="welcome">Welcome to my page!</p>
          <p>
            I am currently an Assistant Professor in the Department of Civil and
            Environmental Engineering at Florida State University. My research
            focuses primarily on the areas of urban hydrology,
            hydrologic/hydraulic modeling, sustainable and resilient urban water
            systems, stormwater management, smart city technologies,
            surface-groundwater interaction, and impact of nonstationary
            stressors—climate and land use change on hydrology and
            biogeochemistry. ​
          </p>
          <p>Download my <a class="cv" download="#" href="#">CV</a></p>
        </div>

        <img src="./img/profile-img.png" class="profile-img-lap" alt="" />
      </div>
    </div>
  </div>
</main>

<%- include("partials/footer"); -%>
