@import url('https://fonts.googleapis.com/css2?family=Baskervville:ital@0;1&family=Libre+Baskerville:ital@0;1&family=Playfair+Display:ital,wght@0,400;0,800;1,400&display=swap');
*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

:root {
  --heading-txt-clr: rgb(24, 24, 24);
}

body {
  font-family: 'Playfair Display', sans-serif;
}

.main-section {
  background-color: lightgray;
}

.teachings {
  list-style: circle;
  width: 60%;
  margin: 0 auto;
  padding: 4rem;
  font-family: 'Baskervville', serif;
}

.teaching {
  margin: 1rem;
  font-size: 0.8rem;
}

@media (max-width: 1000px) {
}

/* --------------- 768px Screens --------------- */

@media (max-width: 768px) {
}

/* --------------- 500px Screens --------------- */

@media (max-width: 500px) {
  .teachings {
    width: 100%;
    padding: 1rem;
  }
}
